apiVersion: apps/v1
kind: Deployment
metadata:
  name: authservice
  labels:
    app: authservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authservice
  template:
    metadata:
      labels:
        app: authservice
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: authservice
          image: udlaia-stats/authservice:dev
          ports:
            - containerPort: 3000