apiVersion: v1
kind: Service
metadata:
  name: authservice
  namespace: authservice-dev
  labels:
    app: authservice
spec:
  selector:
    app: authservice
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
