apiVersion: v1
kind: Service
metadata:
  name: authservice
  labels:
    app: authservice
spec:
  selector:
    app: authservice
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
  type: ClusterIP