name: Django CI/CD

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ main ]

env:
  DEBUG: True
  DB_ENGINE: django.db.backends.postgresql
  ALLOWED_HOSTS: localhost,127.0.0.1
  POSTGRES_HOST: localhost
  POSTGRES_PORT: 5440
  POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
  POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
  POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Ejecutar pruebas Django con base de datos en memoria

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install django djangorestframework pytest pytest-django psycopg2-binary

      - name: Pull database container
        run: |
          docker pull dase123/udlaia-stats:udla_postgres
          docker run -d --name udla_postgres_container -e POSTGRES_PASSWORD=0000 -p 5440:5432 dase123/udlaia-stats:udla_postgres

      - name: Check container running
        run: |
          docker ps -a

      - name: Run Django migrations
        run: |
          echo "Ejecutando migraciones..."
          python manage.py migrate --noinput

      - name: Run Django makemigrations
        run: |
          echo "Ejecutando makemigrations..."
          python manage.py makemigrations --noinput

      - name: Run Django tests
        run: |
          echo "Ejecutando tests con pytest..."
          python manage.py test