name: Django CI/CD

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ main ]

env:
  DEBUG: True
  DB_ENGINE: django.db.backends.postgresql
  ALLOWED_HOSTS: localhost,127.0.0.1
  POSTGRES_HOST: localhost
  POSTGRES_PORT: 5432
  POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
  POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
  POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Ejecutar pruebas Django con base de datos en memoria

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install django djangorestframework pytest pytest-django psycopg2-binary

      - name: Run Django tests
        env:
          DJANGO_SETTINGS_MODULE: authservice.settings
        run: |
          echo "Ejecutando tests con pytest..."
          pytest -v --maxfail=1 --disable-warnings
